/* ================= BASE GLOBALE ================= */
@font-face {
  font-family: 'Joseph Sophia';
  src: url('../fonts/JosephSophia.woff2') format('woff2'),
       url('../fonts/JosephSophia.woff') format('woff'),
       url('../fonts/JosephSophia.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Joseph Sophia', cursive;
  background-color: #000;
  color: white;
  text-align: center;
}

/* FOOTER */
footer {
  background-color: #000;
  padding: 1em 0;
  font-size: 1em;
}

/* LINKS */
a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #ffdd57;
}
